body {
    background-color: #001C2A;
}

th {
    background-color: #7DC241;
    color: white;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f1f1f1;
}

tr:nth-child(odd) {
    background-color: white;
}

.resource_table {
    display: inline-table;
    border-collapse: collapse;
    width: 80vw;
}

#hospital_content {
    margin: 10vh 10vw 10vh 10vw;
    max-height: 80vh;
    max-width: 80vw;
    overflow: auto;
    text-align: center;
}